@theme {
  --animate-fade-in: fade-in 1s ease-out both;
  --animate-fade-out: fade-out 1s ease-out both;
  --animate-underline: underline 0.25s ease-in-out both;

  @keyframes fade-in {
    0% {
      opacity: 0.01;
    }
    100% {
      opacity: 1;
    }
  }

  @keyframes fade-out {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0.01;
    }
  }

  @keyframes underline {
    0% {
      transform-origin: left;
      transform: scaleX(0);
    }
    100% {
      transform-origin: left;
      transform: scaleX(1);
    }
  }
}
