@layer base {
  html {
    @apply h-dvh overflow-y-scroll;
    scroll-snap-type: y mandatory;
  }

  body {
    color: white;
    @apply bg-diagonal-pattern;
  }

  a {
    @apply text-blue-400 underline;
  }
  a:hover {
    @apply text-blue-600;
  }
  a:visited {
    @apply text-purple-400;
  }
  a:visited:hover {
    @apply text-purple-600;
  }

  /* box-sizing */
  *,
  *::before,
  *::after {
    @apply box-border;
  }
}
