@font-face {
  font-family: "Quintessential";
  src:
    url("../assets/fonts/Quintessential-Regular.woff2") format("woff2"),
    url("../assets/fonts/Quintessential-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-quintessential: "Quintessential", ui-sans-serif, system-ui, sans-serif;
}

@font-face {
  font-family: "NotoEmoji";
  src:
    url("../assets/fonts/NotoEmoji-VariableFont_wght.woff2") format("woff2"),
    url("../assets/fonts/NotoEmoji-VariableFont_wght.ttf") format("truetype");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@theme {
  --font-emoji: "NotoEmoji", system-ui, sans-serif;
}
